<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="microcms.css" rel="stylesheet" />
    <link href="http://127.0.0.1/SEG/v0/web/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <title>Contexte SEG</title>
</head>
<body>
    <header>
      <h1><a href="http://127.0.0.1/SEG/v0/web" >SEG</a></h1>
      <h2>Commune : {{ commune }}</h2>
    </header>
    <table border="1" class="table table-striped">
        <tr>
            <th>Nom de secteur</th><th>Nombre d'espace vert</th>
        </tr>
    {% for secteur in secteurs %}
        <tr>
            <td>{{ secteur.nom }}</td>
            <td>{{ secteur.espaceVert }}</td>
        </tr>
    {% endfor %}
    </table> 
</body>
</html>