<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="microcms.css" rel="stylesheet" />
    <link href="http://127.0.0.1/SEG/v0/web/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <title>Contexte SEG</title>
</head>
<body>
    <header>
      <h1><a href="http://127.0.0.1/SEG/v0/web" >SEG</a></h1>
    </header>
     <form>
      Index:<br>
      <input type="text" name="firstname"><br>
      Date:<br>
      <input type="text" name="lastname"><br>
      <input type="submit" value="Valider" style="margin-top: 10px;">
    </form> 
</body>
</html>